@font-face
{
    /* font-family:abeatRegular;
    src: url(/cotic/dolho/fonts/abeatbyKaiRegular.otf);
    src: url(/cotic/dolho/fonts/ABEAKRG.TTF) format(ttf); */
}

#btnOlhoSenha
{
    opacity: 0;
}

#blocoLogin
{
    --larguraCampos:12rem;
    --raioBorda:20px;
    --alturaBlocoLogin: 21rem;

    display:flex;
    width:100%;
    margin: 40% auto;
    line-height: 2rem;
    justify-content: center;
    text-align: center;
    /* user-select: none;
    -moz-user-select: none; */
}

#blocoLogin *
{
    --tempoAnimLoad:0.9s;
    --delayAnimLogin:0.3s;
}

#blocoLogin img
{
    height:25rem;
    padding-right:6rem;
    z-index:10;
}

#blocoLogin form
{
    
    flex-direction: column;
    padding:0;
    border-radius:var(--raioBorda);
    border-left: 1px solid var(--corPrincipal);
    border-right: 1px solid var(--corPrincipal);
    color:var(--corPrincipal);
    /* background:var(--corComplementarEscura); */
    width:80%;
    height:0;
    z-index:5;
    overflow: hidden;
}

#blocoLogin h1
{
    font-family: Segoe UI,Arial, Helvetica, sans-serif;;
    font-size:28pt;
    padding-bottom:1rem;
    cursor:default;
    text-align:center;
    width:100%;
}

#blocoLogin p
{
    font-size:10pt;
    line-height: 3rem;
}

#blocoLogin p *
{
    transition:all 0.3s;
}

#blocoLogin p input
{
    width:var(--larguraCampos);
    padding:0.4rem;
    margin-top:0.5rem;
    font-size:12pt;
    border:1px solid var(--corPrincipal);
    border-radius: var(--raioBorda);
    background:var(--corFundoItem);
    color:var(--corPrincipal);
    user-select: text;
    -moz-user-select: text;
}

#blocoLogin p button
{
    width:var(--larguraCampos);
    height:2rem;
    border:1px solid var(--corPrincipal);
    border-radius:var(--raioBorda);
    background:none;
    color:var(--corPrincipal);
    font-size:14pt;
    cursor:pointer;
    /*box-shadow: 0 0.2rem 0.5rem var(--corPrincipal);*/
}

#blocoLogin p .cadastrar
{
    margin-top:1.4rem;
}

#blocoLogin p button:hover, #blocoLogin p input:focus
{
    box-shadow:2px 2px 5px #888;
}

#blocoLogin p button:hover
{
    background:var(--corPrincipal);
    color:#eee;
}

#blocoLogin .linkDireita
{
    margin-left:4rem;
    padding-bottom:1rem;
    color:var(--corComplementarEscura);
}

#blocoLogin .linkDireita a
{
    border-bottom: 0 solid var(--corComplementarEscura);
    border-bottom-width:0;
    transition: none;
}

#blocoLogin .linkDireita a:hover
{
    border-bottom-width:1px;
}

#blocoLogin .linkImportante
{
    font-weight: bold;
    cursor:pointer;
    color:var(--corPrincipal);
}

#blocoLogin .linkImportante:hover
{
    color:var(--corPrincipal);
    border-bottom: 1px solid var(--corPrincipal);
}

::placeholder
{
    color: var(--corPrincipal);
    opacity: 0.8;
}

.apareceLogin
{
    animation: apareceLogin 0.5s linear var(--delayAnimLogin) forwards;
}

#slotCarregando, #slotCarregando .carregando
{
    --tamanhoBorda: 0.4rem;
    --dimensoesLoad: 4rem;
    position:absolute;
    width:var(--dimensoesLoad);
    height:var(--dimensoesLoad);
    margin:70% auto;
    border-radius:50%;
    transition: all 0.5s;
}

.someLoad
{
    /* animation: someLoad 0.5s linear var(--delayAnimLogin) forwards; */
    opacity:0;
}

#slotCarregando .carregando
{
    left:0;
    border:var(--tamanhoBorda) solid;
    border-color: var(--corPrincipal) #aaa #aaa #aaa;
    animation: carregando var(--tempoAnimLoad) linear infinite;
}

/* .olhoSenha:hover
{
    background:var(--corPrincipal);
    color:var(--corComplementarEscura);
}
 */

@keyframes carregando
{
    from {transform: rotate(0);}
    to {transform:rotate(350deg);}
}

@keyframes apareceLogin
{
    0%
    {
        height:0;
        margin-top:40%;
    }
   
    100%
    {
        height:var(--alturaBlocoLogin);
        margin-top: 0;
    }
}

@keyframes someLoad
{
    from
    {
        opacity:1;
        visibility:visible;
    }
    to
    {
        opacity:0;
        visibility:hidden;
    }
}

/* @-webkit-keyframes carregando
{
    from {transform: translate(0);}
    to {transform:translate(350deg);}
} */