*
{
    transition: all 0.3s;
}

button, li
{
    cursor:pointer;
}

#slotTela
{
    position:absolute;
    width:100%;
    height:95%;
    text-align: center;
    overflow: hidden;
    /* border:1px solid #00f; */
}

#slotTela #bloco h1
{
    margin:2vh auto;
}

#slotMenu
{
    position:absolute;
    top:100%;
    width:100%;
    /* border:1px solid #f0f; */
}

#painelMenu
{
    --alturaMenu:45%;

    position: relative;
    /* float:center; */
    width:100%;
    top:100%;
    text-align:center;
    background:#ddd;
    /* border:1px solid #f00; */
    transition: all 0.5s ease-out;
}

#menu>img
{
    display:none;
}

#btnIconeMenu
{
    position: absolute;
    width:100%;
    left: 0;
    background:#222;
    animation: ativaMenu 0.5s linear forwards;
    display:flex;
    justify-content:center;
}

#btnIconeMenu #iconeMenu
{
    font-size:24pt;
    transform:rotateX(0) rotateZ(90deg);
    color:#fff;
    transition: all 0.5s;
    /* border:1px solid #f00; */
    width:1rem;
}

#menu
{
    background:#eee;
}

#menu li
{
    background:#ccc;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    /* text-align:center; */
}

.btnPosicionado
{
    bottom:100%;
}

@keyframes ativaMenu
{
    from
    {
        bottom:0;
    }

    to
    {
        bottom:100%;
    }
}



#slotTela>div>h1
{
    margin:-3% auto;
}

.imagemInicial
{
    width:90%;
}

.caixaTexto
{
    position: absolute;
    width:100%;
    padding:0.5rem 0.5rem 0 1.5rem;
    max-height:57%;
    overflow: auto;
    /* border:1px solid #f00; */
}

.alinhadoEsquerda
{
    text-align:left;
}

.fonte10
{
    font-size:10pt;
}

.fonte12
{
    font-size:12pt;
}

.fonte14
{
    font-size:14pt;
}

.fonte16
{
    font-size:16pt;
}

.btn
{
    box-shadow:0 2px 3px #999;
}

.btnConfirma
{
    background:var(--corPositivoEscuro);
    color:#eee;
}

.btnCancela
{
    background:var(--corComplementarEscura);
    color:#eee;
}

.btnFechaOver
{
    position: absolute;
    font-size:16pt;
    width:2rem;
    height:2rem;
    top:0;
    right:0;
    background:var(--corNegativoForte);
    /* background:none; */
    /* color:var(--corNegativoForte); */
    color:#eee;
    /* border:1px solid var(--corNegativoForte); */
    /* border-top-width: 0; */
    /* border-right-width: 0; */
    border-top-right-radius: 5px;
    /* border-bottom-left-radius: 5px; */
    /* box-shadow: 0 2px 3px #888; */
    z-index:9000;
}

.btnFechaOver:hover
{
    background:var(--corNegativoForte);
    color:#eee;
    border:none;
}

.selecionaTudo
{
    /* user-select: all;
    -moz-user-select:all; */
}

.btnVazado, .btnVazadoConfirma
{
    background:none;
}

.btnVazado
{
    border:1px solid var(--corBranco);
}

.btnVazadoConfirma
{
    border:1px solid var(--corPositivo);
    color:var(--corPositivo);
}

#painelOver .escondeSalva
{
    max-height:0;
    padding:0 0.5rem;
    overflow: hidden;
}




#painelOver>div input, #painelOver>div select
{
    font-size:9pt;
    padding:0.2rem;
    background:var(--corFundoBloco);
    border:1px solid #333;
    /* font-size:12pt; */
}

#painelOver>div select
{
    max-width:9rem;
}

.listaCards
{
    position:absolute;
    width:100%;
    margin:4% auto;
    max-height:77%;
    overflow: auto;
    /* background:#f00; */
}

.listaCards li
{
    /* position:absolute; */
    width:90%;
    height:20%;
    padding:1rem 0.5rem;
    margin: 5% auto;
    display:flex;
    background: var(--corFundoEscuro);
    color:#eee;
    text-align:left;
    border-radius:5px;
    justify-content: space-between;
    box-shadow: 2px 2px 5px #555;
}

.txtAzul
{
    color:var(--corPositivo2Clara);
}

.txtDono
{
    color:var(--corPositivo);
}

.txtAdmin
{
    color:var(--corComplementarEscura);
}

.elemListaDuplo
{
    display:flex;
    justify-content: space-between;
    padding:0.5rem;
}

.elemListaDuplo>label
{
    /* width:2rem; */
    /* margin-right:0.2rem; */
    display:flex;
    /* visibility:hidden; */
}

.elemListaDuplo>label>p
{
    opacity:0;
    visibility: hidden;
    color:var(--corBranco);
}

.elemListaDuplo>label>span
{
    --dimensao: 1.5rem;
    width:var(--dimensao);
    height:var(--dimensao);
    border:1px solid var(--corBranco);
    /* border-style:solid; */
    margin-left:0.2rem;
    border-radius:50%;
    font-size:12pt;
    display:flex;
    flex-direction: column;
    /* padding:0 0 0.2rem 0; */
}

.txtAdmin>label>span
{
    border:4px double var(--corComplementarEscura);
    /* border-style: double; */
    color:var(--corComplementarEscura);
    /* transform:rotateX(90deg); */
}

.txtAdmin>label>p
{
    visibility: visible;
    opacity:1;
    color:var(--corComplementarEscura);
}

.elemListaDuplo>input[type="checkbox"]
{
    display:none;
}