*
{
    /* box-sizing:border-box; */
}

#bloco>div>button
{
    --tamanhoBotaoNovo:3rem;
    font-size:22pt;
    width:var(--tamanhoBotaoNovo);
    height:var(--tamanhoBotaoNovo);
    padding: 0 0 0.2rem 0;
    border-radius:50%;
}

#slotPainelOver
{
    position:absolute;
    background:rgba(50,50,50,0.9);
    width:100%;
    height:100%;
    top:0;
    /* border:1px solid #f00; */
    /* margin:1% 0 0 0; */
}

/* #painelOver
{
    --largura: 95%;
    --alturaMax: 96%;
    position:absolute;
    background:var(--corFundoBloco);
    width:var(--largura);
    min-height:10rem;
    height:100%;
    max-height:var(--alturaMax);
    padding:1rem 0.5rem;
    margin:calc((100% - var(--alturaMax))/1) calc((100% - var(--largura))/2);
    border-radius:5px;
    overflow:hidden;
} */

#slotPainelOver .painelRecuado
{
    height:50%;
    margin:50% calc((100% - var(--largura))/2);
}

#painelOver>div, #painelOver>div button
{
    /* position:relative; */
    font-size:14pt;
}

#painelOver>div button
{
    margin-top:3%;
    padding:0.3rem;
    border-radius:5px;
    /* background:#396; */
    /* box-shadow:1px 1px 3px #174; */
}

#painelOver>div>p
{
    line-height: 2rem;
}

#painelOver>div>p>input[type='number']
{
    width:2.5rem;
}

#listaFichas li:hover
{
    /* box-shadow: 2px 2px 5px #555; */
}

.resumoAtributos
{
    position:relative;
    /* right:10%; */
    width:30%;
    display:flex;
    justify-content: space-evenly;
    /* border:1px solid #ff0; */
}

#corpo
{
    max-height:63vh;
    font-size:12pt;
    /* border:1px solid #0f0; */
    overflow: auto;
}

#corpo>h4
{
    margin-top:4px;
    border:1px solid;
    border-color: var(--corFundoEscuro);
    border-radius:10px;
    /* color:#eee; */
    /* background:#ccc; */
    padding:0.3rem 0 0.3rem 0;
    cursor:pointer;
    box-shadow:0px 1px 2px #888;
}

#corpo .cabecalhoAtivo
{
    background: var(--corFundoEscuro);
    color:#eee;
    border-bottom-color: #eee;
    border-bottom-left-radius:0;
    border-bottom-right-radius: 0;
}

.alinhadoEsquerda b
{
    margin-left:10%;
}

.bloco
{
    display:flex;
    /* border:1px solid #333; */
    max-height:33vh;
    /* height:100vh; */
    background:var(--corFundoEscuro);
    margin: auto;
    color:#eee;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    /* overflow-y:auto; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 2px #222;
    transition: all 0.3s ease-in-out;
}

#painelOver .bloco input, #painelOver .bloco select
{  
    background:var(--corFundoEscuro);
    /* color:#333; */
    border:1px solid #eee;
    text-align:center;
}

#painelOver .bloco input::placeholder
{
    color:#ddd;
}

#painelOver .bloco input[type='tel'], #painelOver .bloco input[type='number']
{
    width:2rem;
    height:1.6rem;
    padding-bottom:0.2rem;
    /* margin:0.5rem auto; */
}

#painelOver .bloco .btnRedondo
{
    width:2rem;
    height:2rem;
    border-radius:50%;
}

#painelOver .btnPequeno
{
    width:1.5rem;
    height:1.5rem;
    font-size:10pt;
    border-radius:50%;
    overflow: hidden;
    padding:0;
    text-align: center;
    background:var(--corPositivo2MaisEscura);
    color:var(--corBranco);
}

.formInterno
{
    /* border:1px solid #f00; */
    max-height:20vh;
    padding:0;
    overflow: hidden;
}

#painelOver .bloco .btnFechaAdd
{
    transform:rotate(45deg);
    /* padding: 0 0 0.1rem 0.1rem; */
}

#painelOver .nomeMesa
{
    font-size:10pt;
}

#painelOver .c1
{
    padding:0.3rem 0 ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* border:1px solid #ff0; */
}

#painelOver .c1 div
{
    /* border:1px solid #ff0; */
}

#painelOver .c1>p
{
    /* margin-top:0.2rem; */
    padding-top:0;
    padding-bottom:0.2rem;
}

.c2
{
    display:flex;
    justify-content: space-evenly;
}

.c2>div
{
    /* border:1px solid #f00; */
}

.c2 .b1
{
    text-align: left;
}

.c2 .b2
{
    text-align: right;
}

#painelOver .bloco .btnConfirma
{
    padding:0.2rem 0.5rem;
}

#painelOver .fechado
{
    max-height:0;
    padding:0;
    /* animation: fechaSecao 1s linear forwards; */
}

.slotSalvar
{
    position:absolute;
    width:100%;
    bottom:1%;
    min-height:0;
    height:auto;
    max-height:10%;
    left:0;
    background:var(--corFundoBloco2);
}

.apareceSalva
{
    box-shadow:0 -2px 7px #333;
}

.slotSalvar #salvaFicha
{
    max-height:3rem;
    padding:0.3rem;
    margin:2% auto;
    background:var(--corPositivoEscuro);
    color:#eee;
    border-radius:5px;
    overflow:hidden;
}

/* #painelOver .escondeSalva
{
    max-height:0;
    padding:0 0.5rem;
} */

.txtAlerta
{
    color:var(--corComplementarMaisEscura);
}

@keyframes fechaSecao
{
    from
    {
        height:auto;
        padding:0.5rem 0;
    }

    to
    {
        height:0;
        padding:0;
    }
}

#corpo .bloco .btnRemover
{
    padding:0.2rem 0.5rem;
    background:var(--corNegativoForte);
    box-shadow:2px 2px 3px rgb(100,20,20);
}

.corSucesso
{
    color: var(--corPositivo2MaisClara);
    text-shadow:0 1px 2px var(--corPositivo2);
}

.corFalha
{
    color: var(--corComplementar);
    text-shadow:0 1px 2px var(--corComplementarEscura);
}
/* #listaModulos option
{
    text-transform: capitalize;
} */

/* .bloco2C>div>p
{
    text-align: center;
} */