*
{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
    text-decoration: none;

    /*===VARIÁVEIS===*/
    /*CORES*/
    --corPrincipal: #444;
    --corPrincipalEscura: #333;
    --corPrincipalMaisEscura:#222;
    --corFundoEscuro: #2a2a3d;
    --corPositivo2:#369;
    --corPositivo2Escura: #258;
    --corPositivo2MaisEscura: #147;
    --corPositivo2Clara: #47a;
    --corPositivo2MaisClara: #58b;
    --corPositivo: #2fd4a3;
    --corPositivoEscuro: rgb(10,160,145);
    --corNegativo: #ff7262;
    --corNegativoForte:#a22;
    --corBranco:#eee;
    --corFundoBloco: #dfdfdf;
    --corFundoBloco2: #acacac;
    --corFundoItem: #fff;
    --corComplementar: #FAD259;
    --corComplementarEscura: #E3B733;
    --corComplementarMaisEscura: #B99015;

    user-select: none;
    -moz-user-select: none;
    list-style: none;
    color:inherit;
}

*:hover, *:active, *:focus
{
    outline:0;
}

html
{
    overflow:hidden;
    width:100%;
}

body
{
    position:fixed;
    height:100%;
    width:100%;
}

input
{
    user-select: text;
    -moz-user-select: text;
}

a
{
    text-decoration:none;
}

a:visited
{
    color:inherit;
}

body
{
    font-family: Segoe UI,Arial, Helvetica, sans-serif;
    background:#fafafa;
    color:#333;
}

.leaflet-container
{
    width:800px;
    height:400px;
}

button
{
    border:none;
    font-size:14pt;
    background:#999;
}

.oculto
{
    visibility:hidden;
    opacity:0;
}

.olhoSenha, .olhoSenha2
{
    position:absolute;
    width:2rem;
    margin-top:0.5rem;
    margin-left:-2rem;
    padding: 0 1rem 0 0.5rem;
    line-height: 2rem;
    font-size:12pt;
    cursor:pointer;
    border-radius: 0 50% 50% 0;
    z-index:800;
}

.apareceOlho
{
    animation: apareceOlho 0.2s linear 1s forwards;
    opacity: 0;
}

.olhoSenha2
{
    margin-top:0.4rem;
    border-radius: 0 10px 10px 0;
}

.senhaVisivel
{
    /* background:var(--corPrincipal); */
    color:var(--corComplementarEscura);
}

.corInvertida
{
    color:var(--corBranco);
}

.txtTituloMenor
{
    font-size:12pt;
    font-weight: normal;
}

#painelOver #cabecalhoFicha
{
    /* border:1px solid #f00; */
    font-size:12pt;
    height:20vh;
    margin:5% auto;
    display:flex;
    justify-content: space-evenly;
    /* justify-content: right; */
}

#cabecalhoFicha .slotImagem
{
    position:relative;
    --largura:33%;
    --altura:100%;
    width:40%;
    height:100%;
    /* border-radius:50%; */
    /* border:1px solid #0f0; */
}

#cabecalhoFicha .infosCabecalho
{
    --largura:65%;
    /* border:1px solid #00f; */
    width:var(--largura);
    /* margin:auto calc(100% - var(--largura)); */
}

#cabecalhoFicha .slotImagem img
{
    margin:0;
    width:auto;
    height:100%;
    border-radius:100%;
}

#cabecalhoFicha .slotImagem>button
{
    position:absolute;
    right:10%;
    top:0;
    z-index:100;
    box-shadow:-2px 2px 4px #222;
}

@keyframes apareceOlho
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}

@media screen and (min-width: 1200px)
{
    #slotMenu
    {
        height:5%;
        top:0;
        /* border:1px solid #f00; */
    }

    #iconeMenu
    {
        display:none;
    }

    #painelMenu
    {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        /* border:1px solid #0f0; */
    }

    #menu
    {
        position:absolute;
        width:100%;
        top:0;
        left:0;
        padding:0 0.5rem;
        display:flex;
        justify-content: space-evenly;
        background:var(--corPrincipal);
    }

    #menu>img
    {
        width: 5%;
        height: auto;
        display:inline-block;
        filter:invert(100%);
        cursor:pointer;
        opacity:0.7;
    }

    #menu>img:hover, #menu>img:focus
    {
        opacity: 1;
        /* background:var(--corBranco); */
    }

    #menu li
    {
        width:7%;
        padding:0.4rem;
        margin:0;
        text-align:center;
        background:inherit;
        color:var(--corBranco);
        opacity:0.8;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #menu li:hover, #menu li:focus
    {
        background:var(--corPrincipalMaisEscura);
        color:#fff;
        opacity: 1;
        /* box-shadow:2px 2px 2px #515151; */
    }

    #slotTela
    {
        /* position:absolute; */
        /* width:100%; */
        /* height:95%; */
        top:5%;
        /* text-align: center; */
        overflow: hidden;
        /* border:1px solid #00f; */
    }

    #slotTela>div>h1
    {
        margin: 0;
    }

    .alinhadoEsquerda
    {
        padding:2% 18%;
    }

    .imagemInicial
    {
        width:30%;
        height:auto;
    }

    #bloco
    {
        /* border:1px solid #f00; */
    }

    #bloco .listaCards
    {
        margin: 0.5% auto;
        max-height:84.5%;
    }

    #bloco .listaCards li
    {
        width:35%;
        margin: 1% auto;
    }

    #slotPainelOver
    {
        /* border:1px solid #f00; */
    }

    #painelOver
    {
        /* border:1px solid #00f; */
    }

    #painelOver #corpo
    {
        text-align: center;
    }

    #corpo>h4, #corpo .bloco
    {
        --largura:70%;
        width:var(--largura);
    }

    #corpo>h4
    {
        margin-left:calc((100% - var(--largura))/2)
    }

    .btnFechaOver
    {
        position:absolute;
        top:1.5%;
        border-radius:0;
    }

    #bloco #slotPainelOver .painelRecuado
    {
        --largura:90%;
        width:var(--largura);
        margin:10% calc((100% - var(--largura))/2);
    }

    #bloco #slotPainelOver .painelRecuado .btnFechaOver
    {
        top:0;
        border-top-right-radius:5px;
    }

    #painelOver #cabecalhoFicha
    {
        /* border:1px solid #00f; */
        height:20vh;
        margin:2% auto;
        display:flex;
        justify-content: space-between;
    }

    #cabecalhoFicha .slotImagem
    {
        position:relative;
        width:40%;
        height:100%;
        /* border:1px solid #f00; */
    }

    #cabecalhoFicha .slotImagem img
    {
        margin:0;
        width:auto;
        height:100%;
    }

    #cabecalhoFicha .slotImagem button
    {
        /* position:absolute; */
        right:32%;
    }

    #cabecalhoFicha .infosCabecalho
    {
        width:60%;
        height:100%;
        /* border:1px solid #0f0; */
        margin:auto;
    }

    #painelOver>div button
    {
        margin-top:0;
    }

    #painelOver>div>p>input[type=number]
    {
        width:3rem;
    }
}